
<header class="main-header">
    <h1 class="main-header__tittle">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
        <span class="main-header__title--purple">Pragas</span><span class="main-header__title--black">Shoop</span>
    </h1>
    <div class="container-menu">
    <nav class="main-header__menu">
        <ul>
            <li>
                <a routerLink="/produtos" routerLinkActive="active-link">Produtos</a>
            </li>
            <li>
                <a routerLink="/carrinho" routerLinkActive="active-link">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Carrinho
                    <span class="badge-carrinho">{{carrinhoService.obtemCarrinho().length}}</span>
                </a>
            </li>
            <li>
                <a routerLink="/contato" routerLinkActive="active-link">Contato</a>
            </li>
            <li>
                <a href="https://github.com/Baratoo" target="_blank" title="GitHub"><i class="fa-brands fa-github"></i></a>  
            </li>
            <li>
                <a href="https://www.linkedin.com/in/kaiquebarato" target="_blank" title="Linkedin"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/kaique_barato?igsh=MW5qZmRoMG82cWpvZg%3D%3D&utm_source=qr" target="_blank" title="Instagram"><i class="fa-brands fa-square-instagram"></i></a>
            </li>
        </ul>
    </nav>
    <app-barra-pesquisa></app-barra-pesquisa>
    </div>
</header>