<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text"> Loja de um time de amigos da cidade de Ubiratã-Pr, apenas com o objetivo de portifólio, não é uma loja oficial porém temos as camisetas caso tenha interesse</p>
            <p class="footer__about-text">Qualquer duvida entrar em contato pelos meios do lado direito</p>
            <p class="footer__about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget lectus neque. Nullam tincidunt enim a sem lacinia aliquet. Nulla nec condimentum enim.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> kaique_luiz1&#64;hotmail.com</li>
                <li><i class="fa-solid fa-phone"></i> 44 99924-9953</li>
                <li><i class="fa-brands fa-square-whatsapp"></i> 44 99924-9953</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">&copy; Todos os direitos reservados</section>
</footer>